<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBSITE CREATION</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body style="background-image: url(Beach.jpg);"> 
    <header>
         
        <ul>
            <li><a href="/home">HOME</a></li>
            <li><a href="/contact">CONTACT</a></li>     
        </ul>
         
         <div class="Amain">
            <h1> About US </h1><br>
            <p style="font-size: 20px; color: floralwhite; ">Location: Maldives 
                providing you most luxurious facilities to make you feel Nirvana in PARADISE<br><br>
                Comfort<br> 
                Relaxation<br>
                Aminities
            
            </p> 
                </div>

         <div class="title">
                <h1>VIBING PARADISE</h1>
         </div>
        </header>


        </body>









<h1 style=" border: 5px solid black;
margin: auto;
height: 15vh;
text-align: center;
padding: 5px;
font-size: 50px;"> About us</h1>
<p style="font-size: 30px;"> Hello  Myself Tirth, currently persuing Node js Internship</p>