<html>
    <body>
        <h1> Add Record</h1>
        <form method="post" action="/add-process">
            <table>
                  <tr>
                      <td>Room Type</td>
                      <td><input type="text" name="txt1" placeholder="Enter Type" required/></td>
                  </tr>

                  <tr>
                    <td>Room details</td>
                    <td><input type="text" name="txt2" placeholder="Enter Facilities"required/></td>
                 </tr>

                 <tr>
                    <td>Room Price</td>
                    <td><input type="number" name="txt3" placeholder="Enter price" required/></td>
                 </tr>

                 <tr>
                    <td><input type="submit" /></td>
                 </tr>

            </table>
        </form>
        <a href="/display"><h1>Available records</h1></a>
        
    </body>
</html>