<html>
    <body>
        <h1> Add Record</h1>
        <form method="post">
                  
                  Room Type:<input type="text" name="txt1" placeholder="Enter Name" value="<%= db_rows_array[0].room_type %>"/>
                  Room details:<input type="text" name="txt2" placeholder="Enter Age" value="<%= db_rows_array[0].room_details %>"required/>
                  Room Price: <input type="number" name="txt3" placeholder="Enter price" value="<%= db_rows_array[0].room_price %>" required/>
                 <input type="submit" />
                 
                </form>
        <a href="/display"><h1>Available records</h1></a>
        
    </body>
</html>