<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="font-size: 100px; font-style: italic;"><%= title %></h1>
    <p style="font-size: 40px;">Welcome to <%= title %></p>
    <a href="/home"><span style="font-size: 30px; color: brown;">Home</span></a>|<a href="/about"><span style="font-size: 30px; color: brown;">About</span></a> | <a href="/contact"><span style="font-size: 30px; color: brown;">Contact</span></a>
  </body>
</html>
