<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBSITE CREATION</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body style="background-image: url(Beach.jpg);"> 
    <header>
        
         
         <div class="main">
         
             <ul>
                 <li><a href="#">HOME</a></li>
                 <li><a href="#">SERVICES</a></li>
                 <li><a href="#">GALLERY</a></li>
                 <li><a href="#">ABOUT</a></li>
                 <li><a href="#">CONTACT</a></li>
                             
             </ul>
         </div>

         <div class="title">
                <h1>VIBING PARADISE</h1>
         </div>
        </header>


        </body>